{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}


    <article id="top-part">
        <section id="slogan">
            <h1> Lorem ipsum dolor sit amet consectetur adipisicing elit. </h1>
        </section>
        <div class="line-up"></div>
        <section id="logo-and-mic">
            <div id="logo">
                <div class='render'> </div>
                {{ encore_entry_script_tags('mic') }}
                <img src="{{asset('build/img/all/logo.png')}}">
            </div>
        </section>
        <div class="line-down"></div>
        <section id="articles">
            <h1> Derniers articles </h1>
            <div id="new-articles">
                aa
            </div>
        </section>
    </article>

    <article id="videos-part">
        <h2> NOS VIDEOS </h2>
        <section id="new-videos">
            aaa
        </section>
    </article>

    <div class="band twitch">
        <span class="band-group">
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
        </span>
        <span class="band-group">
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
        </span>
        <span class="band-group">
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
        </span>
        <span class="band-group">
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
        </span>
        <span class="band-group">
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
        </span>
    </div>

    <article id="live-part">
        <h2> Nous sommes aussi en LIVE </h2>
        <section id="new-lives">

        </section>
    </article>


    <div class="band">
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
    </div>

    <article id="playlist-part">
        <section id="playlist">
            <h2> Les playlists Inflow </h2>
            <div class="line"></div>
            <div id="new-playlists">
                <span>Test</span>
                <span>Test</span>
            </div>
        </section>
        <section id="album">
            <h2> Nos Albums </h2>
            <div class="line"></div>
            <div id="new-albums">

            </div>
        </section>
    </article>


    <div class="band">
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
    </div>

    <article id="artist-part">
        <section id="artist">
            <h1> Les artistes avec lesquels Inflow a FEAT. </h1>
            <div id="new-artists">

            </div>
        </section>
    </article>

{% endblock %}
