{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}


    <article id="top-part">
        <section id="logo-and-mic">
            <section id="slogan">
                <h1> Lorem ipsum dolor sit amet consectetur adipisicing elit. </h1>
            </section>
            <div id="logo">
                <div class='render'> </div>
                {{ encore_entry_script_tags('mic') }}
                <img src="{{asset('build/img/all/logo.png')}}">
            </div>
        </section>
        <div class="line-down"></div>
        <section id="articles">
            <h1> Derniers articles </h1>
            <div id="new-articles">
                aa
            </div>
        </section>
    </article>

    <article id="videos-part">
        <h2> NOS VIDEOS </h2>
        <section id="new-videos" class="band">
            <span class="band-group">
                {% for video in videos %}
                    <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" class="card-img">
                        <img src="{{video.snippet.thumbnails.high.url}}">
                    </a>
                {% endfor %}
            </span>
            <span class="band-group">
                {% for video in videos %}
                    <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" class="card-img">
                        <img src="{{video.snippet.thumbnails.high.url}}">
                    </a>
                {% endfor %}
            </span>
            <span class="band-group">
                {% for video in videos %}
                    <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" class="card-img">
                        <img src="{{video.snippet.thumbnails.high.url}}">
                    </a>
                {% endfor %}
            </span>
            <span class="band-group">
                {% for video in videos %}
                    <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" class="card-img">
                        <img src="{{video.snippet.thumbnails.high.url}}">
                    </a>
                {% endfor %}
            </span>
            <span class="band-group">
                {% for video in videos %}
                    <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" class="card-img">
                        <img src="{{video.snippet.thumbnails.high.url}}">
                    </a>
                {% endfor %}
            </span>
        </section>
    </article>

    <div class="band twitch">
        <span class="band-group">
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
        </span>
        <span class="band-group">
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
        </span>
        <span class="band-group">
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
        </span>
        <span class="band-group">
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
        </span>
        <span class="band-group">
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
            <span class="twitch_logo"><img src="{{asset('build/img/all/twitch_logo.png')}}"></span>
            <span class="twitch_text"><img src="{{asset('build/img/all/twitch_text2.png')}}"></span>
        </span>
    </div>

    <article id="live-part">
        <h2> Nous sommes aussi en LIVE </h2>
        <section id="new-lives">
            test
        </section>
    </article>


    <div class="band">
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
    </div>

    <article id="playlist-part">
        <section id="playlist">
            <h2> Les playlists Inflow </h2>
            <div class="line"></div>
            <div id="new-playlists">
                {% for playlist in playlists %}
                    <a href="{{playlist.uri}}">
                        <img src="{{playlist.images[0].url}}">
                    </a>
                {% endfor %}
            </div>
        </section>
        <section id="album">
            <h2> Nos Albums </h2>
            <div class="line"></div>
            <div id="new-albums">
                {% for album in albums %}
                    <a href="{{album.uri}}">
                        <img src="{{album.images[0].url}}">
                    </a>
                {% endfor %}
            </div>
        </section>
    </article>


    <div class="band">
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
    </div>

    <article id="artist-part">
        <section id="artist">
            <h1> Les artistes avec lesquels Inflow a FEAT. </h1>
            <div id="new-artists">

            </div>
        </section>
    </article>

{% endblock %}
